@font-face {
  font-family: 'Roboto';
  font-weight: 300;
  src: url(..//fonts/Roboto-Light.woff2); }

@font-face {
  font-family: 'Roboto';
  font-weight: 400;
  src: url(..//fonts/Roboto-Regular.woff2); }

@font-face {
  font-family: 'Roboto';
  font-weight: 500;
  src: url(..//fonts/Roboto-Medium.woff2); }

@font-face {
  font-family: 'Montserat';
  font-weight: 600;
  src: url(..//fonts/Montserrat-ExtraBold.woff2); }

body {
  position: relative;
  font-size: 16px;
  line-height: 1.75;
  min-width: 320px;
  margin: 0;
  font-family: 'Roboto';
  font-weight: 300; }

h1, h2, h3, h4, h5 {
  margin: 0;
  line-height: 1.2;
  font-weight: 300; }

h1 {
  font-size: 55px;
  color: #333333; }

h2 {
  font-size: 40px;
  color: #444444; }

h3 {
  font-size: 22px;
  font-weight: 400;
  margin-bottom: 15px; }

p {
  font-size: 14px;
  margin: 0; }

ul {
  margin: 0;
  padding: 0; }

li {
  list-style: none; }

a {
  text-decoration: none;
  color: #555555;
  -webkit-transition: color .3s;
  transition: color .3s; }

section, header {
  margin-bottom: 100px;
  border: 3px solid green; }

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto; }

.logo {
  height: 50px; }

.hamburger {
  display: none !important; }

.hamburger-inner, .hamburger-inner:after, .hamburger-inner:before {
  width: 25px !important;
  background-color: #222 !important; }

.animated {
  z-index: -1; }

@media (max-width: 768px) {
  h1 {
    font-size: 40px; }
  h2 {
    font-size: 30px; } }

.menu-wrapper {
  position: fixed;
  left: 0;
  right: 0;
  background: #ffffff;
  z-index: 5;
  -webkit-box-shadow: 0 0 20px #e2e2e2;
  box-shadow: 0 0 20px #e2e2e2; }

.menu {
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  z-index: 10; }

.navigation li {
  display: inline-block;
  margin-right: 40px; }
  .navigation li:not(:last-child) a:after {
    content: '';
    display: block;
    width: 0;
    height: 1px;
    background: #555555;
    -webkit-transition: width .4s;
    transition: width .4s; }
  .navigation li:not(:last-child) a:hover::after {
    width: 100%; }

@media (max-width: 992px) {
  .menu {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start; }
  .hamburger {
    display: block !important; }
  .navigation {
    position: fixed;
    left: -100%;
    top: 0;
    height: 100vh;
    width: 300px;
    padding-top: 75px;
    -webkit-box-shadow: 0 0 10px #D9D9D9;
    box-shadow: 0 0 10px #D9D9D9;
    background: #fff;
    z-index: -1;
    padding-top: 15%; }
    .navigation li {
      display: block;
      line-height: 50px;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      font-size: 22px;
      width: 100%;
      text-align: center;
      -webkit-transition: background .2s;
      transition: background .2s;
      margin-top: 10px; }
      .navigation li:not(:last-child):hover {
        background: #36AFD9; }
      .navigation li:hover a {
        color: #ffffff; }
    .navigation a:after {
      display: none !important; } }

button, input, textarea {
  outline: none; }

button {
  border: none;
  background: none;
  font-family: inherit;
  cursor: pointer; }

.btn {
  font-weight: 500;
  text-transform: uppercase;
  font-size: 14px;
  border-radius: 4px;
  padding: 12px 22px;
  color: #555555;
  -webkit-transition: background, color, .3s;
  transition: background, color, .3s; }
  .btn:hover {
    color: #36AFD9; }
  .btn_black {
    border: 1px solid #d9d9d9; }
    .btn_black:hover {
      background: #36AFD9;
      color: #ffffff; }
  .btn_white {
    border: 1px solid #ffffff;
    color: #ffffff; }
    .btn_white:hover {
      background: #ffffff; }
  .btn_blue {
    color: #ffffff;
    background: #36AFD9;
    -webkit-box-shadow: 0 0 20px #a1daed;
    box-shadow: 0 0 20px #a1daed; }
    .btn_blue:hover {
      background: #A551F4;
      color: #ffffff; }
  .btn_round {
    width: 35px;
    height: 35px;
    padding: 0;
    display: inline-block;
    text-align: center;
    line-height: 35px;
    border: 1px solid #d9d9d9;
    border-radius: 50%;
    font-size: 14px; }
    .btn_round:hover {
      background: #36AFD9;
      color: #ffffff;
      border-color: #36AFD9; }

.header .btn_blue, .support .btn_blue {
  margin-right: 25px; }

.offer {
  border: 1px solid;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .offer_reverse {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse; }
  .offer__content {
    border: 5px solid lightblue;
    width: 35%;
    min-width: 375px; }
  .offer__image {
    width: 60%; }
  .offer h1, .offer h2, .offer p {
    margin-bottom: 30px; }

@media (max-width: 992px) {
  .offer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse; }
    .offer__content {
      width: 90%; }
    .offer__image {
      width: 90%; } }

.header {
  padding-top: 100px; }
  .header__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border: 5px solid;
    margin-top: 150px; }
  .header .offer:first-child {
    margin: 100px 0; }

.services {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(0px, 320px));
  grid-gap: 30px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  .services__title {
    grid-column: 1 / -1;
    padding: 25px 0; }

.card {
  -webkit-box-shadow: 0 0 20px #e2e2e2;
  box-shadow: 0 0 20px #e2e2e2;
  padding: 30px;
  padding-bottom: 50px;
  position: relative;
  -webkit-transition: -webkit-box-shadow .4s;
  transition: -webkit-box-shadow .4s;
  transition: box-shadow .4s;
  transition: box-shadow .4s, -webkit-box-shadow .4s;
  border-radius: 5px;
  margin: 0 auto; }
  .card:hover {
    -webkit-box-shadow: 0 0 20px #c9c9c9;
    box-shadow: 0 0 20px #c9c9c9; }
  .card__icon {
    height: 75px;
    width: 75px;
    background: #36AFD9;
    border-radius: 50%;
    margin-bottom: 40px;
    line-height: 75px;
    text-align: center;
    color: #ffffff;
    font-size: 22px; }
  .card p {
    margin: 25px 0; }
  .card button {
    position: absolute;
    bottom: 25px;
    padding-left: 0; }
    .card button i {
      margin-left: 10px;
      font-size: 16px; }

@media (max-width: 768px) {
  .services {
    grid-template-columns: repeat(auto-fit, minmax(0px, 375px)); } }

.achivements-wrapper {
  background: #36AFD9;
  padding: 100px 0; }

.achivements {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: #ffffff; }
  .achivements__content {
    border: 5px solid lightpink;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .achivements__item {
    border: 1px solid;
    padding: 15px;
    border-radius: 10px;
    background: #61c0e1; }
  .achivements__counter {
    font-size: 55px;
    font-weight: 500; }
  .achivements h2 {
    color: #ffffff; }
  .achivements .offer {
    margin-left: 50px; }
    .achivements .offer__content {
      width: 100%; }

@media (max-width: 992px) {
  .achivements {
    grid-template-columns: repeat(1, 80%); }
    .achivements .offer {
      margin: 50px auto 0; } }

@media (max-width: 568px) {
  .achivements__content {
    grid-template-columns: repeat(1, 90%); } }

.work h2 {
  margin: 50px 0; }

.step {
  height: 300px;
  border: 5px solid lightblue;
  margin-bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .step:nth-child(odd) {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start; }
    .step:nth-child(odd) .step__content {
      margin: 0 50px 0 0; }
  .step:nth-child(even) {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    .step:nth-child(even) .step__image {
      margin: 0 50px 0 0; }
  .step_1 .arrow {
    -webkit-transform: scale(-1, 1);
    transform: scale(-1, 1);
    left: -65%;
    top: 120%;
    height: 250px; }
  .step_2 .step__content {
    width: 550px; }
  .step_2 .arrow {
    left: -12%;
    top: 95%;
    height: 250px; }
  .step_3 .arrow {
    height: 250px;
    left: -95%;
    top: 120%; }
  .step_4 .step__content {
    width: 500px; }
  .step_4 .arrow {
    -webkit-transform: scale(-1, 1);
    transform: scale(-1, 1);
    height: 260px;
    left: -15%;
    top: 100%; }
  .step_4 .step__image {
    width: 550px; }
  .step_5 {
    margin-top: 80px; }
    .step_5 .step__content {
      margin-left: 60px; }
    .step_5 .step__image {
      width: 350px; }
  .step__image {
    max-height: 350px;
    width: 350px; }
  .step__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 600px;
    border: 3px solid lightpink; }
  .step__count {
    height: 75px;
    min-width: 75px;
    border-radius: 50%;
    background: #36AFD9;
    line-height: 75px;
    text-align: center;
    font-size: 34px;
    color: #ffffff;
    font-weight: 500;
    margin-right: 25px; }
  .step__text {
    border: 3px solid lightblue;
    position: relative; }

.arrow {
  position: absolute; }

@media (max-width: 1200px) {
  .arrow {
    display: none; } }

@media (max-width: 768px) {
  .work .step {
    height: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    .work .step__image {
      width: 100%;
      height: 700px; }
    .work .step__content {
      width: 90%;
      margin: 0 auto; }
    .work .step__count {
      height: 50px;
      min-width: 50px;
      line-height: 50px;
      font-size: 24px; } }

@media (max-width: 568px) {
  .work .step__content {
    display: block;
    width: 100%;
    margin: 0 auto !important; }
  .work .step__count {
    width: 50px;
    margin: 10px 0; } }

.projects-wrapper {
  background: #f9fbff;
  padding: 100px 0; }

.projects__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 50px; }

.site {
  height: 400px;
  border-radius: 15px;
  overflow: hidden;
  width: 90%;
  margin: 20px auto;
  -webkit-box-shadow: 0 0 20px #e2e2e2;
  box-shadow: 0 0 20px #e2e2e2; }
  .site:hover .site__content {
    top: 0; }
  .site_1 {
    background: url(..//img/slider/slide1.jpg) center/cover; }
  .site_2 {
    background: url(..//img/slider/slide2.jpg) center/cover; }
  .site_3 {
    background: url(..//img/slider/slide3.jpg) center/cover; }
  .site_4 {
    background: url(..//img/slider/slide4.jpg) center/cover; }
  .site_5 {
    background: url(..//img/slider/slide5.jpg) center/cover; }
  .site__content {
    background: #36AFD9;
    color: #ffffff;
    padding: 50px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    top: 100%;
    -webkit-transition: top .3s;
    transition: top .3s; }
  .site button {
    -ms-flex-item-align: end;
    align-self: flex-end;
    color: #ffffff; }
    .site button:hover {
      color: #005A89; }

.owl-nav {
  position: absolute;
  right: 0; }
  .owl-nav i {
    font-size: 20px;
    padding: 10px;
    color: #8d8d8d;
    -webkit-transition: color .4s;
    transition: color .4s; }
    .owl-nav i:hover {
      color: #272727; }

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around; }
  .contact__image {
    width: 50%;
    border: 3px solid lightpink; }
  .contact__form {
    width: 40%;
    border: 3px solid lightblue;
    padding: 50px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    min-width: 400px; }
  .contact h2 {
    margin-bottom: 50px; }
  .contact input, .contact textarea {
    width: 100%;
    margin-bottom: 25px;
    resize: none;
    font-size: 16px;
    font-family: inherit;
    padding: 10px;
    color: #b3b3b3;
    border-radius: 5px;
    border: 1px solid #d9d9d9; }
    .contact input::-webkit-input-placeholder, .contact textarea::-webkit-input-placeholder {
      color: #b3b3b3; }
    .contact input::-moz-placeholder, .contact textarea::-moz-placeholder {
      color: #b3b3b3; }
    .contact input:-ms-input-placeholder, .contact textarea:-ms-input-placeholder {
      color: #b3b3b3; }
    .contact input::-ms-input-placeholder, .contact textarea::-ms-input-placeholder {
      color: #b3b3b3; }
    .contact input::placeholder, .contact textarea::placeholder {
      color: #b3b3b3; }

@media (max-width: 768px) {
  .contact {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .contact__image {
      width: 85%; }
    .contact__form {
      margin-top: 50px;
      width: 400px;
      min-width: 320px; } }

.subscribe {
  padding: 100px 0;
  background: #F9FBFF; }
  .subscribe__title {
    border: 1px solid;
    max-width: 600px;
    margin: 0 auto 25px;
    text-align: center; }
  .subscribe__form {
    border: 1px solid;
    height: 50px;
    margin: 0 auto;
    text-align: center; }
  .subscribe input {
    width: 25%;
    font-size: 16px;
    padding: 10px;
    color: #b3b3b3;
    border-radius: 5px;
    border: 1px solid #d9d9d9; }
    .subscribe input::-webkit-input-placeholder {
      color: #b3b3b3; }
    .subscribe input::-moz-placeholder {
      color: #b3b3b3; }
    .subscribe input:-ms-input-placeholder {
      color: #b3b3b3; }
    .subscribe input::-ms-input-placeholder {
      color: #b3b3b3; }
    .subscribe input::placeholder {
      color: #b3b3b3; }

@media (max-width: 992px) {
  .subscribe input {
    width: 35%; } }

@media (max-width: 768px) {
  .subscribe input {
    width: 50%; } }

@media (max-width: 568px) {
  .subscribe input {
    width: 90%;
    margin-bottom: 25px; } }

.footer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.footer__col {
  width: 25%;
  border: 1px solid;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.footer__contacts span {
  color: #005A89;
  font-weight: 400;
  margin-right: 10px; }

.footer__bottom {
  height: 100px;
  border: 1px solid;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .footer__bottom span {
    display: block;
    border: 1px solid; }

.footer img {
  height: 50px; }

.footer h3 {
  margin-bottom: 35px; }

.footer p {
  margin-bottom: 25px; }

.footer li {
  margin-bottom: 10px;
  -webkit-transition: color .3s;
  transition: color .3s;
  cursor: pointer; }
  .footer li:hover a {
    color: #36AFD9; }

.footer .btn {
  margin-right: 15px; }

@media (max-width: 992px) {
  .footer__content {
    width: 80%;
    margin: 0 auto; }
  .footer__col {
    width: 50%; } }

@media (max-width: 768px) {
  .footer__col {
    width: 100%;
    text-align: center;
    margin: 25px 0; }
  .footer__bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: distribute;
    justify-content: space-around; } }
