@font-face {
  font-family: 'Roboto';
  font-weight: 300;
  src: url(..//fonts/Roboto-Light.woff2); }

@font-face {
  font-family: 'Roboto';
  font-weight: 400;
  src: url(..//fonts/Roboto-Regular.woff2); }

@font-face {
  font-family: 'Roboto';
  font-weight: 500;
  src: url(..//fonts/Roboto-Medium.woff2); }

@font-face {
  font-family: 'Montserat';
  font-weight: 600;
  src: url(..//fonts/Montserrat-ExtraBold.woff2); }

body {
  position: relative;
  font-size: 16px;
  line-height: 1.75;
  min-width: 320px;
  margin: 0;
  font-family: 'Roboto';
  font-weight: 300; }

section, header {
  margin-bottom: 100px;
  border: 3px solid green; }

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto; }

.offer {
  border: 5px solid lightblue; }

.menu {
  position: fixed;
  left: 0;
  right: 0;
  height: 100px;
  background: #ffffff;
  -webkit-box-shadow: 0 0 20px #e2e2e2;
  box-shadow: 0 0 20px #e2e2e2; }

.header {
  padding-top: 100px; }
  .header__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border: 5px solid;
    margin-top: 150px; }
  .header .img {
    width: 50%;
    height: 400px;
    border: 5px solid lightpink; }
  .header .offer {
    width: 50%;
    height: 400px; }

.services {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30px, 300px));
  grid-gap: 30px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  .services__title {
    grid-column: 1 / -1; }

.card {
  height: 400px;
  -webkit-box-shadow: 0 0 20px #e2e2e2;
  box-shadow: 0 0 20px #e2e2e2; }

.support {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .support .img {
    width: 50%;
    border: 5px solid lightpink; }
  .support .offer {
    width: 50%;
    height: 400px; }

.achivements-wrapper {
  background: #36AFD9;
  padding: 100px 0; }

.achivements {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  .achivements__content {
    border: 5px solid lightpink;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .achivements__item {
    border: 1px solid;
    min-height: 200px; }

@media (max-width: 968px) {
  .services {
    grid-template-columns: repeat(1, 80%); } }

.step {
  height: 400px;
  border: 5px solid lightblue;
  margin-bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .step:nth-child(even) {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end; }
    .step:nth-child(even) .step__desc {
      margin: 0 50px 0 0; }
  .step:nth-child(odd) {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    .step:nth-child(odd) .step__image {
      margin: 0 50px 0 0; }
  .step__image {
    height: 100%;
    width: 350px;
    background: lightgray; }
  .step__desc {
    height: 100%;
    width: 550px;
    background: lightpink; }

.projects-wrapper {
  background: #f9fbff;
  padding: 100px 0; }

.projects__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 50px; }

.projects__title {
  background: lightblue;
  height: 50px;
  width: 50px; }

.projects__button {
  background: lightpink;
  height: 50px;
  width: 50px; }

.site {
  height: 400px;
  border: 1px solid; }

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .contact__image {
    width: 60%;
    height: 500px;
    border: 3px solid lightpink; }
  .contact__form {
    width: 40%;
    height: 500px;
    border: 3px solid lightblue; }

.subscribe {
  padding: 100px 0;
  background: lightblue; }
  .subscribe__title {
    height: 50px;
    border: 1px solid;
    width: 600px;
    margin: 0 auto;
    margin-bottom: 50px; }
  .subscribe__form {
    width: 40%;
    border: 1px solid;
    height: 50px;
    margin: 0 auto; }

.footer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.footer__col {
  width: 25%;
  border: 1px solid;
  height: 200px; }

.footer__bottom {
  height: 100px;
  border: 1px solid;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .footer__bottom span {
    display: block;
    height: 50px;
    width: 50px;
    border: 1px solid; }
