section.achivements-wrapper
	.container
		.achivements
			.achivements__content
				.achivements__item
					.achivements__counter(data-count="2150") 0
					p.achivements__desc Проекты, выполненные нашей командой веб-дизайнеров и разработчиков
				.achivements__item
					.achivements__counter(data-count="54") 0
					p.achivements__desc Специалисты в области веб-дизайна, брендинга и цифровых маркетинговых решений.
				.achivements__item
					.achivements__counter(data-count="1900") 0
					p.achivements__desc Клиенты, которые остались довольны нашей работой.
				.achivements__item
					.achivements__counter(data-count="100") 0
					p.achivements__desc Положительные отзывы, отправленные нашими новыми и постоянными клиентами.
			.offer
				.offer__content
					h2.wow.fadeInRight(data-wow-duration=".6s") Почему Вы выбираете нашу компанию для своих проектов?
					p.wow.fadeInRight(data-wow-duration=".6s" data-wow-delay=".1s") Наши дизайнеры и разработчики тесно сотрудничают для создания творческой и позитивной рабочей среды. Для нас функциональность так же важна, как и эстетика.
					button.btn.btn_white Связаться с нами
