section.contact-wrapper
	.container
		.contact
			img.contact__image.wow.fadeInLeft(src='img/chat.svg' alt='chat' data-wow-duration='.8s')
			form.contact__form
				h2.contact__title Свяжитесь с нашей командой
				input(type="text" placeholder='Ваше Имя' required)
				input(type="text" placeholder='Ваш Email' required)
				textarea(rows="6" placeholder='Введите сообщение' required)
				button.btn.btn_blue Отправить
