footer.footer-wrapper
	.container
		.footer
			.footer__content
				.footer__col
					a(href='')
						img.logo(src="img/logo.svg" alt="")
					a(href='tel:+').footer__contacts
						span Телефон:
						| + 123 45 678-90-12
					a(href='mailto:@').footer__contacts
						span E-mail:
						| mail@mail.com
				.footer__col
					h3 Услуги
					ul
						+link_lock('#','Веб-дизайн & Брендинг')
						+link_lock('#','Графический Дизайн')
						+link_lock('#','Создание Видео')
						+link_lock('#','SEO')
						+link_lock('#','Цифровой маркетинг')
						+link_lock('#','Инфографика')
				.footer__col
					h3 О Компании
					ul
						+link_lock('#','О нас')
						+link_lock('#','Команда')
						+link_lock('#','Портфолио')
						+link_lock('#','Цены')
				.footer__col
					h3 Наши социальные сети
					p Присоединяйтесь к нам в социальных сетях, чтобы получать последние новости и обновления.
					button.btn.btn_round
						i.icon-youtube
					button.btn.btn_round
						i.icon-facebook
					button.btn.btn_round
						i.icon-instagram
					button.btn.btn_round
						i.icon-twitter
			.footer__bottom
				span ©  2019 Graphic.
				a(href='#' onclick="return false;") Privacy Policy
