header.header
	.container
		.offer.offer_header
			.offer__content
				h1.wow.fadeInLeft(data-wow-duration='.6s') Наш креатив - <br>ваш успех
				p.wow.fadeInLeft(data-wow-duration='.6s' data-wow-delay='.1s') Мы нарушаем все границы, если они возникают на пути развития проекта!
				.btns
					button.btn.btn_blue Подробнее
					button.btn.btn_video Смотреть видео
						span.btn_round.icon-triangle-right
			img.offer__image.wow.fadeInRight(data-wow-duration='.6s' src="img/header.svg" alt="")
		.offer.offer_header.offer_reverse
			.offer__content
				h2.wow.fadeInRight(data-wow-duration='.6s') Творческие задачи - это наша страсть.
				p.wow.fadeInRight(data-wow-duration='.6s' data-wow-delay='.1s') Наши дизайнеры и разработчики тесно сотрудничают для создания творческой и позитивной рабочей среды. Для нас функциональность так же важна, как и эстетика.
				.btns
					button.btn.btn_blue Подробнее
					button.btn.btn_black Связаться с нами
			img.offer__image.wow.fadeInLeft(data-wow-duration='.6s' src='img/brain.svg' alt='')
