.menu-wrapper
	.menu.container
		.hamburger
			span
			span
			span
		a(href='')
			img.logo(src='img/logo.svg' alt='Graphic')
		nav.navigation
			ul
				+nav_link('#top','Главная')
				+nav_link('#services','Услуги')
				+nav_link('#about','О нас')
				+nav_link('#contacts','Контакты')
				li
					a.navigation__link(href='#subscribe')
						button.btn.btn_black.btn_nav Подписаться
