section.projects-wrapper
	.container
		.projects
			.projects__top
				h2.projects__title Недавние проекты, над которыми мы работали
				button.btn.btn_blue Все проекты
			.owl-carousel.owl-theme.wow.fadeIn(data-wow-duration=".8s" data-wow-delay='.2s')
				+site_item('site_1','Ресторан Японской кухни "Sushi House"')
				+site_item('site_2','Разработка корпоративного сайта')
				+site_item('site_3','Интернет-магазин стройматериалов «ЭкономСтрой»')
				+site_item('site_4','Фасадный и архитектурный декор')
