section.services-wrapper
	.container
		.services
			h2.services__title.wow.fadeInDown(data-wow-duration=".3s" data-wow-delay=".2s") Мы предоставляем широкий спектр творческих услуг
			+card('icon-design','Веб-Дизайн & Брендинг','Отличный бренд сочетает в себе дизайн и обмен сообщениями, чтобы вызвать эмоции у ваших клиентов и стратегию движения.')
			+card('icon-code','Графический Дизайн','Богатый опыт и неограниченное воображение создают наш успешный сервис, открытый клиентам.')
			+card('icon-video','Создание Видео','Создание и обработка профессионального видео - наша сильная сторона. Он играет важную роль в вашей цифровой бизнес-стратегии.')
			+card('icon-seo','SEO','Мы предоставляем все необходимое для работы вашего сайта с максимальными возможностями в основных поисковых системах.')
			+card('icon-digital','Цифровой маркетинг','С помощью цифрового маркетинга ваш бизнес может расширяться в новых областях и достигать огромных достижений.')
			+card('icon-chat','Инфографика','Превратите свои данные в увлекательное произведение искусства, которое будет держать вашу аудиторию в плену. Наша команда может вам в этом помочь.')
