
section.subscribe
	h2.subscribe__title.wow.fadeIn(data-wow-duration=".8s" data-wow-delay=".2s") Подписаться на наши новости и регулярные обновления
	form.subscribe__form
		input(type="text" placeholder="Ваш Email" required)
		button.btn.btn_blue Подписаться
