section.support
	.container
		.offer
			.offer__content
				h2.wow.fadeInLeft(data-wow-duration=".6s") Если у вас есть какие-либо вопросы, пожалуйста, свяжитесь с нами
				p.wow.fadeInLeft(data-wow-duration=".6s" data-wow-delay=".1s") Наша команда профессиональной поддержки старается сделать все возможное, чтобы предоставить Вам качественные консультации по любым вопросам, связанным с нашими услугами.
				.offer__btns
					button.btn.btn_blue Подробнее
					button.btn.btn_black Связаться с нами
			img.offer__image.wow.fadeInRight(data-wow-duration=".6s" src="img/support.svg" alt="")
