section.work-wrapper
	.container
		.work
			h2 Наш рабочий процесс
			+work_step(
				'step_1',
				'fadeInLeft',
				'1s',
				'img/meeting.svg',
				'meeting',
				'.2s',
				'01',
				'Встреча с клиентом',
				'Первая встреча очень важна для ознакомления и обсуждения основных идей проекта.',
				'arrow_1',
				'img/arrow1.svg'
			)
			+work_step(
				'step_2',
				'fadeInRight',
				'1s',
				'img/statictics1.svg',
				'stat',
				'.25s',
				'02',
				'Мы рассматриваем и анализируем план работ',
				'Когда мы понимаем основные идеи, мы приступаем к обсуждению рабочего плана и его анализу.',
				'arrow_2',
				'img/arrow1.svg'
			)
			+work_step(
				'step_3',
				'fadeInLeft',
				'1s',
				'img/work.svg',
				'work',
				'.3s',
				'03',
				'Упорная работа над проектом',
				'Наша профессиональная команда начинает работать над Вашим проектом и воплощает в себе все детали первоначальной концепции.',
				'arrow_3',
				'img/arrow2.svg'
			)
			+work_step(
				'step_4',
				'fadeInRight',
				'1s',
				'img/statistics2.svg',
				'statistics2',
				'.35s',
				'04',
				'Мы еще раз анализируем и проверяем все',
				'Мы встречаемся, анализируем и проверяем проделанную работу по проекту и вносим необходимые изменения.',
				'arrow_4',
				'img/arrow2.svg'
			)
			+work_step_5(
				'step_5',
				'fadeInLeft',
				'1s',
				'img/success.svg',
				'success',
				'.4s',
				'05',
				'Мы завершаем проект и отправляем его заказчику',
				'Проект завершен, и мы передаем его нашему заказчику. Мы также просим отзывы клиентов.'
			)
