.achivements-wrapper
	background: $accent
	padding: 100px 0
.achivements
	display: grid
	grid-template-columns: repeat(2,1fr)
	justify-content: center
	color: #ffffff
	&__content
		border: 5px solid $p
		display: grid
		grid-template-columns: repeat(2,1fr)
		grid-gap: 30px
		justify-content: center
	&__item
		border: 1px solid
		padding: 15px
		border-radius: 10px
		background: lighten($accent, 10)
	&__counter
		font-size: 55px
		font-weight: 500
	h2
		color: #ffffff
	.offer
		margin-left: 50px
		&__content
			width: 100%

@media(max-width: 992px)
	.achivements
		grid-template-columns: repeat(1,80%)
		.offer
			margin: 50px auto 0

@media(max-width: 568px)
	.achivements
		&__content
			grid-template-columns: repeat(1,90%)
