.achivements-wrapper
	background: $accent
	padding: 100px 0

.achivements
	display: flex
	flex-wrap: wrap
	justify-content: center

	&__content
		flex-grow: 1
		width: 650px
		display: grid
		grid-template-columns: repeat(auto-fit,minmax(310px,310px))
		justify-content: center
		grid-gap: 30px
	&__item
		width: 300px
		max-width: 400px
		padding: 15px
		border-radius: 10px
		background: lighten($accent, 10)
		box-sizing: border-box
	&__counter
		font-size: 55px
		font-weight: 500
		color: #ffffff
	h2,p
		color: #ffffff
	.offer
		flex-grow: 1
		width: 320px
		&__content
			width: 100%
			min-width: 300px

@media(max-width: 992px)
	.achivements
		.offer
			margin-top: 50px


@media(max-width: 768px)
	.achivements
		&__content
			grid-template-columns: 1fr
		&__item
			margin: 0 auto
			width: 70%
			padding: 20px
			p
				font-size: 18px

@media(max-width: 568px)
	.achivements
		&__item
			width: 90%
