.contact-wrapper
.contact
	display: flex
	justify-content: space-around
	&__image
		width: 40%
		border: 3px solid $p
	&__form
		width: 40%
		border: 3px solid $b
		padding: 50px
		box-sizing: border-box
	input, textarea
		width: 100%
		margin-top: 25px
		resize: none
