.footer
	&__content
		display: flex
		flex-wrap: wrap
	&__col
		width: 25%
	&__contacts
		&:nth-child(2)
			margin-top: 17px
		span
			color: $secondary
			font-weight: 400
			margin-right: 10px
	&__bottom
		height: 100px
		display: flex
		justify-content: space-between
		align-items: center
		span
			display: block
			font-size: 14px
			color: #444444
	h3
		margin: 15px 0 35px
	p
		margin-bottom: 25px
	li
		padding: 5px 0
		transition: color .3s
		cursor: pointer
		&:hover a
			color: $accent
	.btn
		margin-right: 15px

@media(max-width: 992px)
	.footer
		&__content
			width: 80%
			margin: 0 auto
		&__col
				width: 50%


@media(max-width: 768px)
	.footer
		&__col
			width: 100%
			text-align: center
			margin: 10px 0
		&__bottom
			flex-direction: column
			justify-content: space-around
