@media (max-width: 1200px)

	// Work

	.work
		&__item
			margin-top:	0
		&__content_1
			padding-left: 100px
		&__content
			margin: 0
		img
			margin: 0 auto
		.arrow
			display: none

@media (max-width: 968px)

	// Main

	h1
		font-size: 40px

	.header
		&__top
			height: 50px

	.hamburger
		display: block !important
		z-index: 10
		position: absolute
		left: 0
		top: 7px

	.logo
		width: 100%
		position: absolute
		top: 0
		left: 0
		padding-left: 75px
		background: #fff
		box-shadow: 0 0 10px #D9D9D9
		z-index: 1
		padding-top: 5px

	.menu
		position: absolute
		left: -100%
		top: 0
		height: 100vh
		width: 300px
		padding-top: 75px
		box-shadow: 0 0 10px #D9D9D9
		background: #fff
		li
			display: block
			margin: 0
			z-index: -1
			width: 100%
			margin-bottom: 5px
			text-align: center
			a
				box-sizing: border-box
				display: block
				padding: 10px 15px
				transition: .3s
				text-align: left
				&:after
					display: none
				&:hover
					background: $accent
					color: #ffffff
		.btn
			width: 95%
			margin-top: 20px

	.offer
		display: block
		padding-top: 100px
		&__content
			width: 90%
			margin-left: 5%
			height: 300px
		&__image
			width: 90%
			margin-left: 5%
			&_support
				width: 70%
				margin-left: 15%

	// Achivements

	.achivements
		.container
			display: block
		&__content
			width: 75%
			margin: 0 auto
		&__more
			width: 75%
			margin: 50px auto 0

	// Work

	.work
		margin-top: 50px
		h2
			margin-bottom: 50px

@media (max-width: 768px)

	// Main styles

	h2
		font-size: 30px

	// Header
	.offer
		padding-top: 0px
		&:first-child
			padding-top: 100px
		&__content
			h1
				max-width: 300px
			h2
				max-width: 400px
		&__image

	// Services

	.services
		&__title
			margin-bottom: 10px

	// Achivements

	.achivements
		&__content
			width: 90%
		&__item
			.counter
				font-size: 60px
			p
				font-size: 16px

	// Work
	.work
		&__item
			flex-direction: column-reverse
			&:nth-child(odd)
				flex-direction: column
		&__content
			width: 90%
			margin: 50px 0
			&_1
				padding: 0
			.circle
				font-size: 22px
				width: 50px
				min-width: 50px
				height: 50px
				line-height: 50px
				margin-bottom: 20px
		img
			height: auto
			width: 100%
			max-height: 300px
		h2
			text-align: center
			margin: 0




@media (max-width: 576px)

	// Achivements

	.achivements
		&__item
			width: 80%
			margin-bottom: 25px


	// Work

	.work
		&__content
			display: block
		&__text
			width: 100%
