.menu-wrapper
	position: fixed
	left: 0
	right: 0
	background: #ffffff
	z-index: 5
	+shadow

.menu
	height: 100px
	display: flex
	justify-content: space-between
	align-items: center

.navigation
	li
		display: inline-block
