.services-wrapper
.services
	display: grid
	grid-template-columns: repeat(auto-fit, minmax(30px,300px))
	grid-gap: 30px
	justify-content: center
	&__title
		grid-column: 1 / -1
.card
	height: 400px
	+shadow
