.subscribe
	padding: 100px 0
	background: $b
	&__title
		height: 50px
		border: 1px solid
		width: 600px
		margin: 0 auto
		margin-bottom: 50px
	&__form
		width: 40%
		border: 1px solid
		height: 50px
		margin: 0 auto
