.work-wrapper
.work
	h2
		margin: 50px 0
.step
	height: 300px
	border: 5px solid $b
	margin-bottom: 50px
	display: flex
	align-items: center
	&:nth-child(odd)
		flex-direction: row-reverse
		justify-content: flex-start
		.step__content
			margin: 0 50px 0 0
	&:nth-child(even)
		justify-content: center
		.step__image
			margin: 0 50px 0 0
	&_1
		.arrow
			transform: scale(-1, 1)
			left: -65%
			top: 120%
			height: 250px
	&_2
		.step__content
			width: 550px
		.arrow
			left: -12%
			top: 95%
			height: 250px
	&_3
		.arrow
			height: 250px
			left: -95%
			top: 120%
	&_4
		.step__content
			width: 500px
		.arrow
			transform: scale(-1, 1)
			height: 260px
			left: -15%
			top: 100%
		.step__image
			width: 550px
	&_5
		margin-top: 80px
		.step__content
			margin-left: 60px
		.step__image
			width: 350px
	&__image
		max-height: 350px
		width: 350px
	&__content
		display: flex
		align-items: center
		width: 600px
		border: 3px solid $p
	&__count
		height: 75px
		min-width: 75px
		border-radius: 50%
		background: $accent
		line-height: 75px
		text-align: center
		font-size: 34px
		color: #ffffff
		font-weight: 500
		margin-right: 25px
	&__text
		border: 3px solid $b
		position: relative
.arrow
	position: absolute


@media(max-width: 1200px)
	.arrow
		display: none

@media(max-width: 768px)
	.work
		.step
			height: auto
			flex-direction: column
			&__image
				width: 100%
				height: 700px
			&__content
				width: 90%
				margin: 0 auto
			&__count
				height: 50px
				min-width: 50px
				line-height: 50px
				font-size: 24px

@media(max-width: 568px)
	.work
		.step
			&__content
				display: block
				width: 100%
				margin: 0 auto !important
			&__count
				width: 50px
				margin: 10px 0
