@import '_mixins'
@import '_font'

// Main styles

body
	position: relative
	font-size: 16px
	line-height: 1.75
	min-width: 320px
	margin: 0
	font-family: 'Roboto'
	font-weight: 300
	overflow-x: hidden

h1,h2,h3,h4,h5
	font-weight: 300
	line-height: 1.2
	margin: 0

h1
	font-size: 55px
	color: #252525

h2
	font-size: 40px
	color: #333333

h3
	font-size: 22px
	font-weight: 400
	color: #444444
p
	font-size: 14px
	color: #444444
	margin: 0
ul
	padding: 0
	margin: 0
li
	list-style: none

a
	text-decoration: none
	color: #555555

button
	background: none
	border: none
	outline: none
	cursor: pointer
	font-family: inherit

.btn
	font-weight: 500
	text-transform: uppercase
	font-size: 14px
	border-radius: 4px
	padding: 12px 22px
	color: #555555
	transition: .3s
	&_standart
		padding-right: 10px
		&:hover
			color: $secondary
	&_blue
		color: #ffffff
		background: $secondary
		box-shadow: 0 0 20px lighten($secondary, 25)
		&:hover
			background: #A551F4
			box-shadow: 0 0 20px lighten(#A551F4, 25)
	&_black
		border: 1px solid #D9D9D9
		&:hover
			background: $secondary
			color: #ffffff
	&_white
		border: 1px solid #ffffff
	&_round
		padding: 0
		+size(40,40)
		border: 1px solid #d9d9d9
		border-radius: 50%

.container
	max-width: 1200px
	padding: 0 15px
	margin: 0 auto

.header__top
	position: fixed
	left: 0
	right: 0
	background: #ffffff
	.container
		display: flex
		justify-content: space-between
		align-items: center
		height: 80px


.logo
	font-family: 'Montserat'
	font-size: 24px
	font-weight: 600
	text-transform: uppercase
	color: #333333
	line-height: 60px
	white-space: nowrap
	z-index: 10
	&__letter
		color: #ffffff
		font-size: 45px
		vertical-align: middle
		&:before
			content: ''
			display: block
			position: absolute
			z-index: -1
			margin-left: -3px
			background: $accent
			border-radius: 45px / 60px
			width: 38px
			height: 50px
			transform: rotate(45deg)

.menu
	li
		display: inline-block
		margin-left: 40px
	a
		&:after
			content: ''
			display: block
			width: 0
			height: 1px
			background: #555555
			transition: width .4s
		&:hover::after
			width: 100%
	.link-active:after
		width: 100%

.hamburger
	display: none !important
.hamburger-inner, .hamburger-inner:after, .hamburger-inner:before
	width: 25px !important
	background-color: #222 !important
.animated
	z-index: -1


.offer
	display: flex
	flex-direction: row
	justify-content: space-between
	padding-top: 100px
	&:first-child
		padding-top: 150px
	&_reverse
		flex-direction: row-reverse
	&__content
		display: flex
		flex-direction: column
		justify-content: center
		width: 38%
		.btn_black
			margin-left: 15px
		.btn_round
			&:hover
				color: $secondary
				border-color: $secondary
		p
			margin: 25px 0
			line-height: 1.75
	&__image
		width: 60%
@import '_media'
